@import url( http://fonts.googleapis.com/css?family=PT+Sans:400italic );
@import url( http://fonts.googleapis.com/css?family=PT+Sans:700italic );
@import url( http://fonts.googleapis.com/css?family=PT+Sans:700 );
@import url( http://fonts.googleapis.com/css?family=PT+Sans:400 );

/* -----------------------------------------------------------
	main stylesheet
----------------------------------------------------------- */
html
{
	height: 100%;  
}

body
{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #d1d1d1 url("../images/background.png") repeat;
	font-family: "PT Sans",sans-serif;
	font-size: 12px;
}

/* -----------------------------------------------------------
	images
----------------------------------------------------------- */ 

img
{
	border: none;	
}

/* -----------------------------------------------------------
	anchors
----------------------------------------------------------- */ 
a
{
	color: #0066CC;	
	text-decoration: none;
	cursor: pointer;
}
a.a_loginout
{
	color: #FFFFFF;
}
a:hover
{
	color: #b9dcff;	
	text-decoration: underline;
}

/* -----------------------------------------------------------
	headings
----------------------------------------------------------- */ 

h1, h2, h3, h4, h5, h6
{
	color: #292929;
	font-weight: bold;
}
h1
{
	font-size: 22px;
}
/* -----------------------------------------------------------
	label
----------------------------------------------------------- */


/* -----------------------------------------------------------
	input
----------------------------------------------------------- */ 
input[type='submit']{
	background-color: white;
	border: 1px solid #A3A3A3;
	margin: 10px 0
}

/* -----------------------------------------------------------
	header_toolbar
----------------------------------------------------------- */
#header_toolbar {
	height: 40px;
	padding: 0 60px 0 60px;
	background: #313131;
}
#header_toolbar h1 {
	margin: 0
}
#header_toolbar h1 {
	color: #fff;
	font-size: 17px;
	line-height: 37px
}
/* -----------------------------------------------------------
	header_toolbar -> grid_1 & grid_2
----------------------------------------------------------- */
.grid_1,.grid_2
	{
	display: inline;
	float: left;
	position: relative;
}
.grid_1 {
	width: 30%
}
.grid_2 {
	width: 70%
}
/* -----------------------------------------------------------
	header_toolbar -> grid_2 -> toolbar_large
----------------------------------------------------------- */
.toolbar_large {
	display: inline-block;
	position: relative;
	margin-left: 5px;
	float: right;
	
}
.toolbar_large {
	position: relative;
	height: 25px;
	line-height: 25px;
	margin: 6px 0;
	border-radius: 3px;
	border: 1px solid #000;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	background: url(../img/sprites/toolbar/bg-normal.png)
}

.toolbar_large img {
	margin-top: 2px
}

.toolbar_large .toolcaption:hover {
	background: url(../img/sprites/toolbar/bg-hover.png)
}

.toolbar_large .toolicon,.toolbar_large .toolcaption,.toolbar_large .toolmenu, .toolbar_large .toolicon_lock
	{
	float: left
}

.toolbar_large .toolicon {
	display: inline-block;
	width: 30px;
	height: 25px;
	line-height: 20px;
	text-align: center;
	padding-top: 2px;
}
.toolbar_large .toolicon_lock {
	display: inline-block;
	width: 30px;
	height: 25px;
	line-height: 20px;
	text-align: center;
	padding: 2px 0 0 10px
}
.toolbar_large .loginout{
	float:left;
	margin:0;
	padding: 0 5px;
	text-shadow: 0 1px 1px rgba(0, 0, 00, 0.75);
}
.toolbar_large .toolcaption {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 00, 0.75);
	filter: dropshadow(color = #CC000000, offx = 0, offy = 1)
}
.toolbar_large .toolcaption {
	text-align: left;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	padding: 0 5px 0 5px
}

.toolbar_large .toolcaption span {
	position: relative
}

.toolbar_large .toolcaption.active {
	color: #000;
	text-shadow: none;
	border-radius: 0 3px 0 0
}
/* -----------------------------------------------------------
	header_main
----------------------------------------------------------- */
#header_main {
	height: 60px;
	border-top: 1px solid #7a9cc0;
	border-bottom: 1px solid #04172b;
	padding-top: 29px;
	background: #366fac;
	background: -moz-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(54,
		111, 172, 1) ), color-stop(100%, rgba(24, 75, 130, 1) ) );
	background: -webkit-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: -o-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: -ms-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#366fac', endColorstr = '#184b82', GradientType = 0 )
}
/* -----------------------------------------------------------
	content
----------------------------------------------------------- */ 

#content 
{
	margin: 20px 0 10px 0;
	padding: 0;
	min-height: 100%;
	clear: both;
	overflow: hidden;
}

/* -----------------------------------------------------------
	content -> left
----------------------------------------------------------- */ 

#content #left
{
	left: 0;
	width: 280px;
	position: absolute;
}
/* -----------------------------------------------------------
	content -> left -> menu
----------------------------------------------------------- */ 

#content #left #menu
{
	margin: 0 10px 0 60px;
	padding: 0;
	clear: both;
	overflow: hidden;
}
/* -----------------------------------------------------------
	content -> left -> menu / links
----------------------------------------------------------- */

#content #left #menu ul
{
	margin: 0;
	padding: 0;
	background: #376ea6;
}

#content #left #menu ul.opened
{
	display: block;	
}

#content #left #menu li
{
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
	list-style: none;
	border-top: 1px solid #4377ab;
	border-bottom: 1px solid #326395;
	color: #ffffff;
	font-size: 1px;
	line-height: 0;
}

#content #left #menu li a
{
	margin: 0 0 0 6px;
	padding: 7px 0 9px 18px;
	height: 1%;
	display: block;
	float: left;
	background: url("../../resources/images/menu_arrow.png") no-repeat 2px 11px;
	color: #ffffff;
	font-size: 11px;
	line-height: normal;
	text-decoration: none;
}

#content #left #menu li a:hover
{
	color: #b9dcff;
}

#content #left #menu li ul
{
	margin: 0;
	padding: 0;
	border-left: 18px solid #326395;
}


#content #left #menu li ul li
{
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
	list-style: none;
	background: url("../../resources/images/menu_arrow.png") no-repeat 10px 12px;
	border-top: 1px solid #4377ab;
	border-bottom: 1px solid #326395;
	color: #ffffff;
}

/* -----------------------------------------------------------
	content -> right
----------------------------------------------------------- */ 

#content #right
{
	margin: 0 60px 0 290px;
	padding: 0;
	clear: both;
	overflow: hidden;
}

/* -----------------------------------------------------------
	content -> right -> box
----------------------------------------------------------- */

#content div.box
{
	margin: 0;
	padding: 0 0 10px 0;
	clear: both;
	overflow: hidden;
	background: #ffffff;
}

#content div.box-left
{
	width: 49%;
	clear: none;
	float: left;	
}

#content div.box-right
{
	width: 49%;
	clear: none;
	float: right;	
}

/* -----------------------------------------------------------
	content -> right -> box / title
----------------------------------------------------------- */

#content div.box div.title
{
	margin: 0 0 20px 0;
	padding: 0;
	clear: both;
	overflow: hidden;
	background: #336699;
}

#content div.box div.title h1,
#content div.box div.title h2,
#content div.box div.title h3,
#content div.box div.title h4,
#content div.box div.title h5,
#content div.box div.title h6
{
	margin: 0;
	padding: 11px 0 11px 10px;
	float: left;
	border: none;
	color: #ffffff;
}
/* -----------------------------------------------------------
	content -> right -> box / headings
----------------------------------------------------------- */

#content div.box h1,
#content div.box h2,
#content div.box h3,
#content div.box h4,
#content div.box h5,
#content div.box h6
{
	margin: 10px 20px 10px 20px;
	padding: 0 0 15px 0;
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #DDDDDD;
}
/* -----------------------------------------------------------
	content -> right -> box / forms
----------------------------------------------------------- */

div.form
{
	margin: 0;
	padding: 0 20px 10px 20px;
	clear: both;
	overflow: hidden;
}
/* -----------------------------------------------------------
	content -> right -> box / tables
----------------------------------------------------------- */

#content div.box div.table
{
	margin: 0;
	padding: 0 20px 10px 20px;
	clear: both;
	overflow: hidden;
}

#content div.box table
{
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}

#content div.box table th
{
	padding: 8px;
	background: #eeeeee;
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	text-align: center;
}

#content div.box table th.column1
{
	width: 241px
}

#content div.box table th.column2
{
	width: 383px
}

#content div.box table th.column3
{
	width: 248px
}

#content div.box table td
{
	padding: 8px;
	background: #ffffff;
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	text-align: center;
	vertical-align: middle;
}
#content div.box table td.center
{
	text-align: center;
}
#content div.box table td.center input[type='checkbox']
{
	margin: 0;
}
#content div.box table td.operate a{
	padding: 0 10px 0 10px;
}

/* -----------------------------------------------------------
	content -> edit_panel
----------------------------------------------------------- */
#content div.edit_panel
{
	margin: 0 300px 0 300px;
	background: white;
	height: 170px;
}
#content div.edit_panel div.title
{
	margin: 0 0 10px 0;
	padding: 0;
	clear: both;
	overflow: hidden;
	background: #336699;
	height: 45px;
}
#content div.edit_panel div.data
{
	padding: 8px 20px;
	height: 27px;
}
#content div.edit_panel div.data input[type='text']
{
	width: 40%;
	display: inline-block;
	margin:0 10px 0 0;
	padding-left: 5px;
}

#content div.edit_panel div.data label
{
	float: left;
	padding: 7px 20px 0 0;
	font-weight: normal;
}
#content div.edit_panel div.data input[type='submit'], #content div.edit_panel div.data input[type='button'] 
{
	display: inline-block;
	width: 46px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 10px;
	margin: 0 25px 0 0;
	float: left;
}
#content div.edit_panel div.data p
{
	color: #547EAB;
	font-weight: bold;
	margin: 0;
}
#content div.edit_panel div.data span.error
{
	color: #B0171F;
	font-weight: bold;
}


