@CHARSET "UTF-8";

/* -----------------------------------------------------------
	main stylesheet
----------------------------------------------------------- */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,table,tbody,tfoot,thead,tr,th,td,ul,ol,li,img,fieldset,iframe
	{
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 15px;
	vertical-align: baseline;
	background: transparent;
	margin: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: #E3E3E3;
	font: 15px/ 1.5 tahoma, arial, \5b8b\4f53;
}

a {
	color: #0066CC;
	text-decoration: none;
	cursor: pointer;
}

a.header {
	color: #FFFFFF;
}

a:hover {
	color: #b9dcff;
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
	color: #ffffff;
	font-weight: bold;
	display: inline-block;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 15px;
}

img {
	border: none;
}

ul {
	list-style-type: none;
}

label,.label {
	display: inline-block;
	margin-bottom: 5px;
	*margin-bottom: 2.5px;
	color: #666;
	text-shadow: 0 1px 0 white;
}

input,textarea,select {
	background: white;
	font-size: 15px;
	display: inline-block;
	margin: 10px 0;
	border: 1px solid #C8C8C8;
	border-radius: 5px;
	padding: 5px 0 5px 5px;
	
	outline: 0;
	-webkit-box-shadow: inset 0 2px 3px 0 rgba(18, 16, 11, 0.13);
	-moz-box-shadow: inset 0 2px 3px 0 rgba(18, 16, 11, 0.13);
	box-shadow: inset 0 2px 3px 0 rgba(18, 16, 11, 0.13);
	line-height: normal;
	vertical-align: baseline;
}

input[type="submit"],input[type="reset"],input[type="button"],
input.submit,input.reset,input.button{

	height: 25px;
	line-height: 25px;
	width: auto;
	padding: 0 10px;
	*padding: 0 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1);
	-moz-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1);
	box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1);
}

input:hover,input:active,input:focus,textarea:hover,textarea:active,textarea:focus
	{
	border: 1px solid #A3A3A3;
}

input.checkbox{
	margin:0;
	padding:0;
	*border:0;
	*background: #f7f7f7;	
	
}

hr {
	margin: 0;
}

::selection {
	background: rgb(84, 126, 171); color: rgb(255, 255, 255); text-shadow: none;
}

.top {
	background: rgb(54, 111, 172);
	width: 100%;
	height: 359px;
	border-bottom-color: rgb(13, 50, 89);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		startColorstr =  
		  '#366fac', endColorstr =     '#184b82', GradientType =     0 );
	position: absolute;
	box-shadow: 0px 2px 5px rgba(17, 16, 13, 0.5);
}

.top .gradient {
	background: rgb(227, 227, 227);
	top: 360px;
	width: 100%;
	height: 270px;
	filter: progid :     DXImageTransform.Microsoft.gradient (    
		startColorstr =  
		  '#e3e3e3', endColorstr =     '#fafafa', GradientType =     0 );
	position: absolute;
}

.wrapper {
	margin: 0px auto;
	left: 0px;
	*left: 470px;
	top: 250px;
	width: 400px;
	right: 0px;
	position: absolute;
	z-index: 101;
}

#content h1 {
	left: 0px;
	*left: 425px;
	top: 60px;
	right: 0px;
	position: absolute;
	z-index: 101;
}

#content h1 {
	text-align: center;
	text-shadow: 0 0 5px rgba(10, 50, 92, 0.75);
}

/* -----------------------------------------------------------
	header_toolbar
----------------------------------------------------------- */
#header_toolbar {
	height: 40px;
	padding: 0 60px 0 60px;
	background: #313131;
}

#header_toolbar h1 {
	font-size: 18px;
}

/* -----------------------------------------------------------
	header_toolbar -> grid_1 & grid_2
----------------------------------------------------------- */
.grid_1,.grid_2 {
	float: left;
	position: relative;
}

.grid_1 {
	width: 30%;
	padding: 8px 0;
}

.grid_2 {
	width: 70%
}

/* -----------------------------------------------------------
	header_toolbar -> grid_2 -> toolbar_large
----------------------------------------------------------- */
.toolbar_large {
	display: inline-block;
	position: relative;
	margin-left: 5px;
	float: right;
}

.toolbar_large {
	position: relative;
	height: 25px;
	line-height: 25px;
	margin: 6px 0;
	border-radius: 3px;
	border: 1px solid #000;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}

.toolbar_large img {
	margin-top: 2px;
}

.toolbar_large .toolicon,.toolbar_large .toolcaption,.toolbar_large .toolmenu,.toolbar_large .toolicon_lock
	{
	float: left
}

.toolbar_large .toolicon {
	display: inline-block;
	width: 30px;
	height: 25px;
	line-height: 20px;
	text-align: center;
	padding-top: 2px;
}

.toolbar_large .toolicon_lock {
	display: inline-block;
	width: 30px;
	height: 25px;
	line-height: 20px;
	text-align: center;
	padding: 2px 0 0 10px
}

.toolbar_large .loginout {
	float: left;
	margin: 0;
	padding: 0 5px;
	text-shadow: 0 1px 1px rgba(0, 0, 00, 0.75);
}

.toolbar_large .toolcaption {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 00, 0.75);
	filter: dropshadow(color =                     #CC000000, offx =
		                  
		 0, offy =     
		               1)
}

.toolbar_large .toolcaption {
	text-align: left;
	display: inline-block;
	height: 25px;
	padding: 0 5px 0 5px
}

.toolbar_large .toolcaption span {
	position: relative
}

/* -----------------------------------------------------------
	header_main
----------------------------------------------------------- */
.header_main {
	width: 100%;
	border-top: 1px solid #7a9cc0;
	border-bottom: 1px solid #04172b;
	background: #366fac;
	background: -moz-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(54,
		111, 172, 1) ), color-stop(100%, rgba(24, 75, 130, 1) ) );
	background: -webkit-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: -o-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: -ms-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	filter: progid :                     DXImageTransform.Microsoft.gradient
		( 
		  
		       
		        startColorstr =          
		          '#366fac', endColorstr =                     '#184b82',
		GradientType =     
		        
		      0 )
}

.nav.header_main {
	height: 90px;
}

/* -----------------------------------------------------------
	content
----------------------------------------------------------- */
#content {
	margin: 10px 0 20px 0;
	padding: 0;
	min-height: 81%;
	clear: both;
	overflow: hidden;
	height: auto;
}

/* -----------------------------------------------------------
	content -> left
----------------------------------------------------------- */
#left {
	left: 0;
	width: 280px;
	position: absolute;
	padding-top: 20px;
}

/* -----------------------------------------------------------
	content -> left -> menu
----------------------------------------------------------- */
#left #menu {
	margin: 0 10px 0 60px;
	padding: 0;
	clear: both;
	overflow: hidden;
	border-radius: 5px;
}

/* -----------------------------------------------------------
	content -> left -> menu / links
----------------------------------------------------------- */
#left #menu ul {
	background: #376ea6;
	display: block;
	
}

#left #menu li {
	clear: both;
	overflow: hidden;
	list-style: none;
	border-top: 1px solid #4377ab;
	border-bottom: 1px solid #326395;
	color: #ffffff;
	margin-top: 10px;
	_padding:10px 0;
}

#left #menu ul li:first-child {
	padding-top: 10px;
	margin-top: 0;
}

#left #menu li.current {
	background: rgba(0, 0, 0, 0.38);
}

#left #menu li a {
	margin: 0 0 0 6px;
	padding: 7px 0 9px 18px;
	height: 1%;
	display: block;
	float: left;
	color: #ffffff;
	font-size: 11px;
	line-height: normal;
	text-decoration: none;
}

#left #menu li.current a {
	
}

#left #menu li a:hover {
	color: #b9dcff
}  /* 当有鼠标悬停在链接上 */
	/* -----------------------------------------------------------
	content -> right
----------------------------------------------------------- */
#right {
	margin: 0 60px 0 290px;
	padding-top: 20px;
	clear: both;
	overflow: hidden;
}
#right.hasBlank{
	margin-top: -3px;
	padding-top: 0px;
}

/* -----------------------------------------------------------
	content -> right -> box
----------------------------------------------------------- */
/*
.box {
	margin-top: 20px;
	*margin-top: 28px;
	_margin-top: 30px;
	clear: both;
	overflow: hidden;
	_padding-top: 2.5px;
}

.box.hasBlank{
	margin-top: -4px;
	*margin-top: 11px;
	_margin-top: -18px;
	*padding-top: 0px;
}
*/

.box {
	clear: both;
	overflow: hidden;
}

.box.special{
	_margin-top: 20px;
}/*for kpitable/show, staff/index, kpi/score*/

.box.special2{
	_margin-top: 30px;
}

/*
.box.noBlank, .box._edit {
	margin-top: 20px;
	border: 1px solid orange;
}

.box._edit._hasBlank {
	margin: 0;
}
*/

.box._datasource {
	margin: 20px 50px;
}

.box-left {
	width: 49%;
	clear: none;
	float: left;
}

.box-right {
	width: 49%;
	clear: none;
	float: right;
}

/* -----------------------------------------------------------
	content -> right -> box -> header
----------------------------------------------------------- */
.box .header {
	border-width: 1px 1px 0px;
	border-style: solid solid none;
	border-radius: 3px 3px 0px 0px;
	height: 34px;
	line-height: 34px;
	filter: progid :               DXImageTransform.Microsoft.gradient ( 
		       
		     startColorstr =       
		       '#78b1ed', endColorstr =               '#417bb5', GradientType
		=  
		        
		   0 );
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
	width:99.5%;
}

.box .grey.header {
	border-color: rgb(200, 200, 200);
}

.box .header img {
	margin: 9px auto 9px 8px;
	float: left;
	display: inline-block;
	-moz-user-select: none;
}

.box .header h3 {
	margin: 0px 0px 0px 8px;
	padding: 0px 0px 0px 10px;
	float: left;
}

.box .header h3 {
	font-size: 13px;
	text-shadow: 0 1px 0 #000;
}

.box .header_main.title {
	clear: both;
	overflow: hidden;
	height: 32px;
	border-radius: 5px 5px 0 0;
	_margin-top: -17px;
}

.box .header_main h2 {
	margin: 5px 0 0 10px;
}

/* -----------------------------------------------------------
	content -> right -> box / forms
----------------------------------------------------------- */
.form {
	margin: 0;
	padding: 0 20px 10px 20px;
	clear: both;
	overflow: hidden;
}

/* -----------------------------------------------------------
	content -> right -> box / tables
----------------------------------------------------------- */
.table {
	padding: 20px;
	clear: both;
	overflow: hidden;
	background: white;
}

table {
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}

table th,table td {
	background: #eeeeee;
	border-bottom: 1px solid #cdcdcd;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	/*width: auto;*/
}

table th.column1 {
	width: 241px
}

table th.column2 {
	width: 383px
}

table th.column3 {
	width: 248px
}

table td {
	background: #ffffff;
}

table td.center {
	text-align: center;
}

table td.operate a {
	padding: 0 10px 0 10px;
}

table td input.checkbox{
	*background: white;
}

#ds_table_attrs th {
	background: transparent;
}

#data_table input {
	margin: 0;
	padding: 2px 0 2px 5px;
}

/* -----------------------------------------------------------
	content -> box
----------------------------------------------------------- */
.box .data_wrapper {
	/*
	border: 1px solid #C8C8C8;
	border-top: 1px solid #2B5177;
	background: white;
	border-radius: 0;
	border-bottom: 0;
	padding: 0;
	border-color: rgb(43, 81, 119) rgb(200, 200, 200) rgb(200, 200, 200);
	border-radius: 0px 0px 3px 3px;
	border-top-color: rgb(200, 200, 200);
	border-radius: 0px;
	border-bottom-color: currentColor;
	border-bottom-width: 0px;
	border-bottom-style: none;*/
	
	border-top: 1px solid #C8C8C8s;
	background: white;	
	float:left;
	width:100%;
	
}
/*
.box .data_wrapper::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
*/
.box .has_subdata {
	padding: 8px 0 8px 20px;
	height: 27px;
	width: 100%
}

.box .data {
	display: inline;
	float: left;
	border-bottom: 1px solid #E7E7E7;
	border-top: 1px solid white;
	margin: 0;
	width: 100%;
	background: #F6F6F6;
	height: auto;
	
}

.box .data input[type='submit'],.box .data input[type='button'],
.box .data input.submit,.box .data input.button
{
	display: inline-block;
	width: auto;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 10px;
	margin: 0 25px 0 0;
}
/* child selctor is not support by ie6*/
.box .data>div {
	border-left: 1px solid #E7E7E7;
	float: right;
	width: 75%;
	padding: 0 10px;
	
}

.box .data>div:first-child {
	float: left;
	width: 16%;
	padding: 0; //
	margin-top: 12px;
	margin-left: 10px;
	*margin-top: -3px;
	line-height: 36px;
	border: 0;
}


.box .data>div._oneline {
	width: 100%;
	border: 0;
	margin-top: 0;
}

.box .data>div.readonly {
	margin: 12px 0 0 10px;
	line-height: 36px;
}

.box .data>div label {
	display: inline;
}

.box .data>div label.input_rule {
	font-weight: normal;
	cursor: auto;
}

.data div input {
	width: auto;
}

.box .data_wrapper.login .data>div input {
	width: 98%
}

.box .data>div textarea {
	width: 60%;
}

/*--------------all for IE6--------------*/
.box .data .child  {
	/*border-left: 1px solid #E7E7E7;*/
	border-left: 1px solid #E7E7E7;
	float: right;
	width: 75%;
	padding:0 10px;
	
}
.box .data div input.fixed{
	width:280px;
}

.box .data div input.fixed2{
	width:180px;
}

.box .data .child input#old_column{
	margin-right: 10px;
}

.data .first-child {
	float: left;
	width: 16%;
	padding: 0; //
	margin-top: 12px;
	margin-left: 10px;
	*margin-top: -3px;
	_margin-left: 0px;
	_padding-left: 10px;
	line-height: 36px;
	border: 0;
	
}
.box .data .child a{
	vertical-align: middle;
	line-height: 36px;
}
.box .data div._oneline {
	width: 100%;
	border: 0;
	margin-top: 0;
}

.box .data div.readonly {
	margin-left:10px;
	_margin: 0;
	line-height: 36px;
}

.box .data div label {
	display: inline;
	*vertical-align: middle;

}

.box .data div label.input_rule {
	font-weight: normal;
	cursor: auto;
}

.data div input {
	width: auto;
}

.box .data_wrapper.login .data .child input {
	width: 98%
}

.box .data .child textarea {
	width: 60%;
}

.box .data span{
	*vertical-align: middle;
}
.box .data span#text_month2{
	*vertical-align: baseline;
}

.box .data span.error {
	color: #B0171F;
	font-weight: bold;
}

.box .data.textarea_in {
	
}

.box .slug_rule {
	padding: 0px 20px;
	margin: -4px 0 8px 0;
}

.box .ds_table_struct {
	padding: 0 82px 8px 82px;
	margin-top: -8px;
	height: auto;
}

.box .subdata {
	width: 75%;
	padding-left:10px;
	padding: 4px 0;
	_padding: 0;
	height: 20px;
	
}
/**/
.box .subdata>div {
	width: 5%;
	display: inline-block;
}

.box .subdata>div:first-child {
	float: left;
	width: 50%;
	display: inline-block;
	
}

.box .subdata .sub_child{
	width: 5%;
	display: inline-block;
}

.box .subdata .sub_first-child {
	float: left;
	width: 50%;
	display: inline-block;
}
.box .subdata input[type='checkbox'] {
	height: 20px;
}

.box .subdata input.checkbox
 {
	height: 20px;
}

.box .ds_subdata input[type='text'] {
	width: 31%;
}


.box .ds_subdata label {
	padding: 7px 0 0 0;
	font-weight: normal;
}

.box p {
	color: #547EAB;
	font-weight: bold;
	margin: 0;
	padding: 8px 10px;
	background: #f7f7f7;
}

.box .subdata label {
	float: left;
	margin: 0;
	font-weight: normal;
	line-height: 20px;
	text-align: right;
}

.box .subdata label.void {
	width: 8%;
	visibility: hidden;
}

.box.datasource {
	margin: 0 200px;
}

.box .actions {
	width:100%;
	border-top: 1px solid #C8C8C8;
	background: #F7F7F7;
	border-radius: 0 0 5px 5px;
	
	clear: both;
	overflow: hidden;
	/*margin-bottom: 20px;*/
	
}

.box .login{
	/*width:100%;*/
}

.box .actions.whiteBg {
	border: 0px;
	background: white;
	margin-bottom: 0px;
	
	
	width: 100%;
	/*border: 1px solid red;*/
}

.box .actions::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.box .actions-left {
	float: left;
	margin: 10px;
	margin-left: 20px;
	*margin: 0;
	*padding:10px;
	*padding-left:20px;
	
}

.box .actions input {
	margin: 0;
}

.box .actions-right {
	float: right;
	margin: 10px;
	margin-right: 20px;
	*margin: 0;
	*padding:10px;
	*padding-right:20px;
}

.box .actions-right.login {
	margin-right: 10px;
}

/****************************pagenavi*****************************/
.page-nav {
	clear: both;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 30px;
	font-size: 1.0em; /* This may need changed to suit your theme */
	-webkit-font-smoothing: antialiased;
	/* smooths the font in webkit, optional */
	float: right;
	margin-right: 15px;
}

.page-nav p {
	float: left;
	padding-top: 5px;
}

.page-nav  input {
	float: left;
}

.page-nav a,.page-nav span {
	/* Change this image URL to the relative location of the sprite sheet: */
	
	display: block;
	float: left;
	width: 28px;
	height: 27px;
	text-decoration: none;
	text-align: center;
	line-height: 26px;
	margin-right: 3px;
	font-weight: bold;
}

.page-nav a:active {
	margin-top: 1px;
}

.page-nav .pages,.page-nav .extend {
	background: none;
	width: auto;
	font-weight: normal;
	margin-right: 7px;
	line-height: 27px;
}

.page-nav .extend {
	padding: 0 5px;
	margin: 0 5px 0 1px;
}

.page-nav .nextpostslink,.page-nav .previouspostslink,.page-nav .first,.page-nav .last
	{
	text-indent: -9999px;
}

/* Individual color themes */
.page-nav a,.page-nav span {
	background-position: 0 0;
	color: #717171;
	text-shadow: 1px 1px 0 #fff;
}

.page-nav a:hover {
	background-position: 0 -27px;
}

.page-nav span.current {
	text-shadow: 0 1px 0 #585858;
	color: #fff;
	background-position: -140px 0;
}

#footer {
	background: rgb(53, 53, 53);
	width: 100%;
	height: 37px;
	line-height: 36px;
	border-bottom-color: rgb(53, 53, 53);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	float: left;
	filter: progid :           DXImageTransform.Microsoft.gradient (       
		   startColorstr =     
		     '#353535', endColorstr =           '#101010', GradientType =
		        
		 0 );
	position: relative;

	_position: absolute;
	_top: 950px;
	_z-index: 101;
}

#footer {
	color: rgb(244, 244, 244);
	font-size: 12px;
	filter: shadow(color =         #353535, direction :         180, strength :
		        1) progid :    
		    DXImageTransform.Microsoft.gradient (         startColorstr =
		     
		  '#313131', endColorstr =         '#101010', GradientType =         0
		);
	text-shadow: 0 1px 0 #353535;
	text-align: center;
}



.ui-datepicker {
	padding: 0.2em 0.2em 0px;
	width: 17em;
	display: none;
}

.ui-datepicker .ui-datepicker-header {
	padding: 0.2em 0px;
	position: relative;
	background: #366FAC;
}

.ui-datepicker .ui-datepicker-prev {
	top: 2px;
	left: 2px;
	width: 1.8em;
	height: 1.8em;
	position: absolute;
}

.ui-datepicker .ui-datepicker-next {
	top: 2px;
	right: 15px;
	width: 1.8em;
	height: 1.8em;
	position: absolute;
}

.ui-datepicker .ui-datepicker-prev-hover {
	top: 1px;
	left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
	right: 14px;
}

.ui-datepicker .ui-datepicker-prev span {
	left: 50%;
	top: 50%;
	margin-top: -8px;
	margin-left: -8px;
	display: block;
	position: absolute;
}

.ui-datepicker .ui-datepicker-next span {
	left: 50%;
	top: 50%;
	margin-top: -8px;
	margin-left: -8px;
	display: block;
	position: absolute;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0px 2.3em;
	text-align: center;
	line-height: 1.8em;
	color: white;
	font-weight: bold;
}

.ui-datepicker .ui-datepicker-title select {
	margin: 1px 0px;
	font-size: 1em;
}

.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year  {
	width: 35%;
	padding: 0;
	border-radius: 0
}

.ui-datepicker table {
	margin: 0px 0px 0.4em;
	width: 100%;
	font-size: 0.9em;
	border-collapse: collapse;
}

.ui-datepicker th {
	padding: 0.7em 0.3em;
	border: 0px currentColor;
	text-align: center;
	font-weight: bold;
}

.ui-datepicker td {
	padding: 1px;
	border: 0px currentColor;
}

.ui-datepicker td span {
	padding: 0.2em;
	text-align: right;
	text-decoration: none;
	display: block;
}

.ui-datepicker td a {
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	display: block;
}

.ui-datepicker td a:hover{
	background: #366FAC;
	color: rgb(255, 255, 255);
	
}
.ui-datepicker .ui-datepicker-buttonpane {
	margin: 0.7em 0px 0px;
	padding: 0px 0.2em;
	border-right-color: currentColor;
	border-bottom-color: currentColor;
	border-left-color: currentColor;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: none;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	margin: 0.5em 0.2em 0.4em;
	padding: 0.2em 0.6em 0.3em;
	width: auto;
	overflow: visible;
	float: right;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

.ui-datepicker-row-break {
	width: 100%;
	clear: both;
	font-size: 0px;
}

.ui-datepicker-cover {
	left: -4px;
	top: -4px;
	width: 200px;
	height: 200px;
	display: block;
	filter: mask();
	position: absolute;
	z-index: -1;
}

.ui-progressbar {
	height: 2em;
	text-align: left;
}

.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}

.ui-datepicker .ui-datepicker-header a {
	color: white;
}
