@CHARSET "UTF-8";

/* -----------------------------------------------------------
	main stylesheet
----------------------------------------------------------- */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,table,tbody,tfoot,thead,tr,th,td,ul,ol,li,img,fieldset,iframe
	{
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	margin: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: #E3E3E3;
	font: 12px/ 1.5 tahoma, arial, \5b8b\4f53;
	font-size: 12px;
}

a {
	color: #0066CC;
	text-decoration: none;
	cursor: pointer;
}

a.header {
	color: #FFFFFF;
}

a:hover {
	color: #b9dcff;
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
	color: #ffffff;
	font-weight: bold;
	display:inline-block;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 15px;
}

img {
	border: none;
}

ul {
	list-style-type: none;
}

label,.label {
	display: inline-block;
	margin-bottom: 5px;
	color: #666;
	font-size: 12px;
	font-weight: 700;
	text-shadow: 0 1px 0 white;
}

input,textarea,select {
	background: white;
	display: inline-block;
	margin: 10px 0;
	border: 1px solid #C8C8C8;
	border-radius: 5px;
	padding: 5px 0 5px 5px;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 3px 0 rgba(18, 16, 11, 0.13);
	-moz-box-shadow: inset 0 2px 3px 0 rgba(18, 16, 11, 0.13);
	box-shadow: inset 0 2px 3px 0 rgba(18, 16, 11, 0.13);
	line-height: normal;
	vertical-align: baseline;
}

input[type="submit"],input[type="reset"],input[type="button"] {
	height: 25px;
	line-height: 25px;
	width: auto;
	padding: 0 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1);
	-moz-box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1);
	box-shadow: 0 1px 1px 0 rgba(18, 16, 11, 0.1);
}

input:hover,input:active,input:focus,textarea:hover,textarea:active,textarea:focus
	{
	border: 1px solid #A3A3A3;
}

.top {
	background: rgb(54, 111, 172);
	width: 100%;
	height: 359px;
	border: 1px solid rgb(13, 50, 89);
	box-shadow: 0px 2px 5px rgba(17, 16, 13, 0.5);
	position: absolute;
}

.top .gradient {
	background: rgb(227, 227, 227);
	top: 360px;
	width: 100%;
	height: 270px;
	position: absolute;
}

#content h1 {
	left: 0px;
	top: 60px;
	right: 0px;
	position: absolute;
	z-index: 101;
}

#content h1 {
	text-align: center;
	text-shadow: 0 0 5px rgba(10, 50, 92, 0.75);
}

.wrapper {
	margin: 0px auto;
	left: 0px;
	top: 250px;
	width: 400px;
	right: 0px;
	position: absolute;
	z-index: 101;
}
/* -----------------------------------------------------------
	header_toolbar
----------------------------------------------------------- */
#header_toolbar {
	height: 40px;
	padding: 0 60px 0 60px;
	background: #313131;
}

#header_toolbar h1 {
	margin: 0
}

#header_toolbar h1 {
	color: #fff;
	font-size: 17px;
	line-height: 37px
}

/* -----------------------------------------------------------
	header_toolbar -> grid_1 & grid_2
----------------------------------------------------------- */
.grid_1,.grid_2 {
	display: inline;
	float: left;
	position: relative;
}

.grid_1 {
	width: 30%
}

.grid_2 {
	width: 70%
}

/* -----------------------------------------------------------
	header_toolbar -> grid_2 -> toolbar_large
----------------------------------------------------------- */
.toolbar_large {
	display: inline-block;
	position: relative;
	margin-left: 5px;
	float: right;
}

.toolbar_large {
	position: relative;
	height: 25px;
	line-height: 25px;
	margin: 6px 0;
	border-radius: 3px;
	border: 1px solid #000;
	-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	-moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}

.toolbar_large img {
	margin-top: 2px
}

.toolbar_large .toolicon,.toolbar_large .toolcaption,.toolbar_large .toolmenu,.toolbar_large .toolicon_lock
	{
	float: left
}

.toolbar_large .toolicon {
	display: inline-block;
	width: 30px;
	height: 25px;
	line-height: 20px;
	text-align: center;
	padding-top: 2px;
}

.toolbar_large .toolicon_lock {
	display: inline-block;
	width: 30px;
	height: 25px;
	line-height: 20px;
	text-align: center;
	padding: 2px 0 0 10px
}

.toolbar_large .loginout {
	float: left;
	margin: 0;
	padding: 0 5px;
	text-shadow: 0 1px 1px rgba(0, 0, 00, 0.75);
}

.toolbar_large .toolcaption {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 00, 0.75);
	filter: dropshadow(color =       #CC000000, offx =       0, offy =       1)
}

.toolbar_large .toolcaption {
	text-align: left;
	cursor: pointer;
	display: inline-block;
	height: 25px;
	padding: 0 5px 0 5px
}

.toolbar_large .toolcaption span {
	position: relative
}

.toolbar_large .toolcaption.active {
	color: #000;
	text-shadow: none;
	border-radius: 0 3px 0 0
}

/* -----------------------------------------------------------
	header_main
----------------------------------------------------------- */
.header_main {
	border-top: 1px solid #7a9cc0;
	border-bottom: 1px solid #04172b;
	background: #366fac;
	background: -moz-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(54,
		111, 172, 1) ), color-stop(100%, rgba(24, 75, 130, 1) ) );
	background: -webkit-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: -o-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: -ms-linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	background: linear-gradient(top, rgba(54, 111, 172, 1) 0,
		rgba(24, 75, 130, 1) 100% );
	filter: progid :       DXImageTransform.Microsoft.gradient (     
		 startColorstr =   
		   '#366fac', endColorstr =       '#184b82', GradientType =       0 )
}

nav.header_main {
	height: 90px;
}

/* -----------------------------------------------------------
	content
----------------------------------------------------------- */
#content
{
	margin: 10px 0;
	padding: 0;
	min-height: 100%;
	clear: both;
	overflow: hidden;
}

/* -----------------------------------------------------------
	content -> left
----------------------------------------------------------- */
#left {
	left: 0;
	width: 280px;
	position: absolute;
	padding-top: 14px;
}

/* -----------------------------------------------------------
	content -> left -> menu
----------------------------------------------------------- */
#left #menu {
	margin: 0 10px 0 60px;
	padding: 0;
	clear: both;
	overflow: hidden;
}

/* -----------------------------------------------------------
	content -> left -> menu / links
----------------------------------------------------------- */
#left #menu ul {
	margin: 0;
	padding: 0;
	background: #376ea6;
}

#left #menu ul.opened {
	display: block;
}

#left #menu li {
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
	list-style: none;
	border-top: 1px solid #4377ab;
	border-bottom: 1px solid #326395;
	color: #ffffff;
	font-size: 1px;
	line-height: 0;
}

#left #menu li a {
	margin: 0 0 0 6px;
	padding: 7px 0 9px 18px;
	height: 1%;
	display: block;
	float: left;
	color: #ffffff;
	font-size: 11px;
	line-height: normal;
	text-decoration: none;
}

#left #menu li a:hover {
	color: #b9dcff;
}

#left #menu li ul {
	margin: 0;
	padding: 0;
	border-left: 18px solid #326395;
}

#left #menu li ul li {
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
	list-style: none;
	border-top: 1px solid #4377ab;
	border-bottom: 1px solid #326395;
	color: #ffffff;
}

/* -----------------------------------------------------------
	content -> right
----------------------------------------------------------- */
#right {
	margin: 0 60px 0 290px;
	padding: 0;
	clear: both;
	overflow: hidden;
}

/* -----------------------------------------------------------
	content -> right -> box
----------------------------------------------------------- */
.box {
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
}

.box.noBlank {
	margin-top: 14px;
}

.box-left {
	width: 49%;
	clear: none;
	float: left;
}

.box-right {
	width: 49%;
	clear: none;
	float: right;
}

/* -----------------------------------------------------------
	content -> right -> box -> header
----------------------------------------------------------- */
.box .header {
	border-width: 1px 1px 0px;
	border-style: solid solid none;
	border-radius: 3px 3px 0px 0px;
	height: 34px;
	line-height: 34px;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#78b1ed', endColorstr = '#417bb5', GradientType = 0 );
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}

.box .grey.header {
	border-color: rgb(200, 200, 200);
	filter: none;
}

.box .header img {
	margin: 9px auto 9px 8px;
	float: left;
	display: inline-block;
	-moz-user-select: none;
}

.box .header h3 {
	margin: 0px 0px 0px 8px;
	padding: 0px 0px 0px 10px;
	float: left;
}

.box .header h3 {
	font-size: 13px;
	text-shadow: 0 1px 0 #000;
}
.box .header_main.title {
	clear: both;
	overflow: hidden;
	height: 32px;
}

/* -----------------------------------------------------------
	content -> right -> box / forms
----------------------------------------------------------- */
.form {
	margin: 0;
	padding: 0 20px 10px 20px;
	clear: both;
	overflow: hidden;
}

/* -----------------------------------------------------------
	content -> right -> box / tables
----------------------------------------------------------- */
.table {
	padding: 20px;
	clear: both;
	overflow: hidden;
	background: white;
}

table {
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}

table th,table td {
	background: #eeeeee;
	border-bottom: 1px solid #cdcdcd;
	text-align: center;
	vertical-align: middle;
	height: 30px;
}

table th.column1 {
	width: 241px
}

table th.column2 {
	width: 383px
}

table th.column3 {
	width: 248px
}

table td {
	background: #ffffff;
}

table td.center {
	text-align: center;
}

table td.center input[type='checkbox'] {
	margin: 0;
}

table td.operate a {
	padding: 0 10px 0 10px;
}

/* -----------------------------------------------------------
	content -> box
----------------------------------------------------------- */
._edit {
	height: auto;
	padding: 0;
	margin-top: 14px;
}

.box._edit._hasBlank {
	margin: 0;
}

.box .data_wrapper {
	border: 1px solid #C8C8C8;
	border-top: 1px solid #2B5177;
	background: white;
	border-radius: 0;
	border-bottom: 0;
	padding: 0;
	
	border-color: rgb(43, 81, 119) rgb(200, 200, 200) rgb(200, 200, 200);
	border-radius: 0px 0px 3px 3px;
	border-top-color: rgb(200, 200, 200);
	
	border-radius: 0px;
	border-bottom-color: currentColor;
	border-bottom-width: 0px;
	border-bottom-style: none;
	
}

.box .data_wrapper::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.box .has_subdata {
	padding: 8px 0 8px 20px;
	height: 27px;
	width: 100%
}

.box .data {
	display: inline;
	float: left;
	border-bottom: 1px solid #E7E7E7;
	border-top: 1px solid white;
	margin: 0;
	width: 100%;
	background: #F6F6F6;
}

.box .data input[type='submit'],.box .data input[type='button']
	{
	display: inline-block;
	width: auto;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 10px;
	margin: 0 25px 0 0;
}

.box .data>div {
	border-left: 1px solid #E7E7E7;
	float: right;
	width: 75%;
	padding: 0 10px;
	padding-right: 10px;
}

.box .data>div:first-child {
	float: left;
	width: 16%;
	padding: 0;
	margin-top: 12px;
	margin-left: 10px;
}

.box .data>div.readonly {
	margin: 12px 0 0 10px;
}

.box .data>div label {
	display: inline;
}

.box .data>div label.input_rule {
	font-weight: normal;
	cursor: auto;
}

.box .data>div input {
	width: auto;
	display: inline;
}
.box .data_wrapper.login .data>div input{
	width:98%
}

.box .data>div textarea {
	width: 60%;
}

.box .data span.error {
	color: #B0171F;
	font-weight: bold;
}

.box .data.textarea_in {
	
}

.box .slug_rule {
	padding: 0px 20px;
	margin: -4px 0 8px 0;
}

.box .ds_table_struct {
	padding: 0 82px 8px 82px;
	margin-top: -8px;
	height: auto;
}

.box .has_subdata {
	margin-bottom: -20px;
}

.box .subdata {
	padding: 4px 0;
	height: 20px;
}

.box .subdata>div {
	width: 5%;
	display: inline-block;
}

.box .subdata>div:first-child {
	float: left;
	width: 70%;
	display: inline-block;
}

.box .subdata input[type='checkbox'] {
	margin: 0;
	height: 20px;
}

.box .ds_subdata {
	padding: 0 0 10px 82px;
	width: 100%
}

.box .ds_table_data {
	
}

.box .has_subdata ,.box .slug_rule ,.box .ds_subdata 
	{
	width: 10%;
	display: inline-block;
	text-align: left;
}

.box .has_subdata .blank_div,.box .ds_subdata input[type='text']
	{
	width: 40%;
	display: inline-block;
	margin: 0 10px 0 0;
	padding-left: 5px;
}

.box .ds_subdata input[type='text'] {
	width: 31%;
}

.box .has_subdata label
.box .ds_subdata label {
	padding: 7px 0 0 0;
	font-weight: normal;
}

.box p {
	color: #547EAB;
	font-weight: bold;
	margin: 0;
	padding: 8px 10px;
}

.box .subdata label {
	float: left;
	padding: 4px 20px 0 0;
	font-weight: normal;
	line-height: 12px;
	text-align: right;
}

.box .subdata label.void {
	width: 8%;
	visibility: hidden;
}

.box.datasource {
	margin: 0 200px;
}

.box .actions {
	border: 1px solid #C8C8C8;
	background: #F7F7F7;
	border-radius: 0 0 3px 3px;
}

.box .actions.whiteBg {
	border: 0px;
	background: white;
	padding: 0 10px;
}

.box .actions::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.box .actions-left {
	float: left;
	margin: 5px;
	margin-left: 40%;
}

.box .actions input {
	margin: 0;
}

.box .actions-right {
	float: right;
	margin: 5px;
	margin-right: 40%;
}
.box .actions-right.login{
	margin-right: 10px;
}